@import "./reset.scss";

// 全局样式
// 字体
@font-face {
  font-family: "TsangerYuYangT";
  src: url("../assets/fonts/TsangerYuYangT-W03.woff2") format("woff2"),
       url("../assets/fonts/TsangerYuYangT-W03.woff") format("woff"),
       url("../assets/fonts/TsangerYuYangT-W03.ttf") format("truetype");
  /* 可能还需要其他字体格式的引用，具体取决于字体文件 */
  /* 可以设置字体的其他属性，如字重、字体样式等 */
  font-weight: normal;
  font-style: normal;
}
html {
  font-family: "TsangerYuYangT", Helvetica, Arial, "Microsoft Yahei",
    "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}

:root {
  --scrollbar-color: #909399;
}

// 滚动条样式
::-webkit-scrollbar {
  width: 6px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: var(--scrollbar-color);
  opacity: 0.3;
}
::-webkit-scrollbar-thumb:hover {
  opacity: 0.5;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

// vue动画
.router-enter-from {
  position: relative;
  opacity: 0;
  left: -50px;
}

.router-enter-to {
  position: relative;
  opacity: 1;
  left: 0px;
}

.router-enter-active {
  transition: all 0.5s;
}

// 掐掉logo和折叠按钮的propper弹出
.banpopper {
  display: none;
}

.grecaptcha-badge {
  z-index: 2;
  // top: 10px;
  iframe {
    z-index: 3;
  }
}
